# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.thumbnail
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# firebase / emulators
/functions/node_modules
/functions/lib
/.firebase/
*-debug.log
.runtimeconfig.json
/emulator-data

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# SDD / dev scratch
.superpowers/
